<article>
    <section class="header">
        $if(repost)$
        Re-posted on $date$ (originally written $repost$)
        $else$
        Posted on $date$
        $endif$
    </section>
    <section>
        <link rel="stylesheet" href="/css/syntax.css" />
        $body$
    </section>
<script src="https://giscus.app/client.js"
        data-repo="dwincort/dwincort.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnkyNjI3OTE3NTQ="
        data-category="Post Comments"
        data-category-id="DIC_kwDOD6niSs4B_3eK"
        data-mapping="pathname"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-theme="dark"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
</article>
